<section id="hero" class="banner-section first-section text-white">

    {%  if page == "home" %}
        <div id="banner-image" class="d-block d-lg-none bg opacity-30 bg-position-center-center bg-attachment-fixed {{ banner_background_class }}"></div>
        <div id="banner-video" class="d-none d-lg-block embed-responsive embed-responsive-16by9">
          <video loop autoplay muted>
            <source class="embed-responsive-item" src="{{ banner_video }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>

        <div class="banner-overlay-container">
           <div class="container-fluid">
             <div class="row">
                 <div class="d-flex justify-content-center">
                     <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between banner-overlay-elements">
                         <div class="margin-banner-title">
                             <h1><span id="banner-title" class="d-none d-md-flex {{ banner_title_class }}">{{ page_title }}</span></h1>
                             <h2><span id="banner-title" class="d-flex d-md-none {{ banner_title_class }}">{{ page_title }}</span></h2>
                             <p class="banner-slogan">{{ page_slogan|default("") }}</p>
                         </div>

                         <div class="d-flex align-items-center hero-menu-wrap">
                             <div class="hero-menu">
                               <h5 class="quick-start-title">Quick Start</h5>
                               <ul>
                                   <li><a href="tutorials/index.html" class="subtitle-2">Tutorials</a></li>
                                   <li><a href="node.html" class="subtitle-2">Choose a Node</a></li>
                                   <li><a href="tutorials/users/catalog/catalog.html" class="subtitle-2">Discover Data</a></li> <!-- TODO: update this to stac-browser when implemented -->
                                   <li><a href="https://discourse.marbleclimate.com" target="_blank" class="subtitle-2">Forum</a></li>
                               </ul>
                             </div>
                         </div>
                    </div>
                 </div>
             </div>
         </div>
        </div>
    {% else %}
        {% if page == "node" %}
            {% set opacity_overlay_class = "banner-overlay-linear-opacity" %}
        {% else %}
            {% set opacity_overlay_class = "banner-overlay-opacity" %}
        {% endif %}
        <div id="banner-image" class="d-block bg opacity-30 bg-position-center-center bg-attachment-fixed {{ banner_background_class }}"></div>
        <div class="banner-overlay-container {{ opacity_overlay_class }}">
           <div class="container-fluid">
               <div class="d-flex flex-column justify-content-center w-100">
                   <div class="d-flex justify-content-center w-100">
                       <div class="d-flex justify-content-center">
                            <h3 id="banner-title" class="d-none d-lg-flex flex-column text-center w-100 {{ banner_title_class }}">{{ page_slogan|safe }}</h3>
                            <h3 id="banner-title" class="d-flex d-lg-none flex-column text-center banner-width-mobile {{ banner_title_class }}">{{ page_slogan|safe }}</h3>
                       </div>
                    </div>
                    <div class="d-flex justify-content-center w-100">
                        <p class="value-statement margin-value-statement">{{ value_statement|default("") }}</p>
                    </div>
               </div>
         </div>
        </div>
    {% endif %}
</section>