{% set button_library = {
    "reg_action_button": {
        "class": "button-reg bg-button-primary button-text text-on-primary",
    },
    "med_action_button": {
        "class": "button-med bg-button-primary button-text text-on-primary",
    },
    "med_action_button_alt": {
        "class": "button-med-alt bg-button-alt button-text text-on-primary-alt",
    },
    "sm_action_button": {
        "class": "button-sm bg-button-primary button-text text-on-primary",
    },
    "sm_action_button_alt": {
        "class": "button-sm-alt bg-button-alt button-text text-on-primary-alt",
    },
    "transparent_button": {
        "class": "button-transparent bg-button-transparent button-text text-on-primary",
    },
    "single_action_plus": {
        "class": "button-single-action bg-button-primary text-on-primary",
        "content": '
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M6.66667 6.66667V1.33333C6.66667 0.596954 7.26362 0 8 0C8.73638 0 9.33333 0.596954 9.33333 1.33333V6.66667H14.6667C15.403 6.66667 16 7.26362 16 8C16 8.73638 15.403 9.33333 14.6667 9.33333H9.33333V14.6667C9.33333 15.403 8.73638 16 8 16C7.26362 16 6.66667 15.403 6.66667 14.6667V9.33333H1.33333C0.596954 9.33333 0 8.73638 0 8C0 7.26362 0.596954 6.66667 1.33333 6.66667H6.66667Z"
                      fill="white"/>
            </svg>
        '
    },
    "sm_single_action_plus": {
        "class": "button-single-action-sm bg-button-primary text-on-primary",
        "content": '
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M5.11095 5.11095V1.55539C5.11095 1.06447 5.50892 0.666504 5.99984 0.666504C6.49076 0.666504 6.88873 1.06447 6.88873 1.55539V5.11095H10.4443C10.9352 5.11095 11.3332 5.50892 11.3332 5.99984C11.3332 6.49076 10.9352 6.88873 10.4443 6.88873H6.88873V10.4443C6.88873 10.9352 6.49076 11.3332 5.99984 11.3332C5.50892 11.3332 5.11095 10.9352 5.11095 10.4443V6.88873H1.55539C1.06447 6.88873 0.666504 6.49076 0.666504 5.99984C0.666504 5.50892 1.06447 5.11095 1.55539 5.11095H5.11095Z"
                      fill="white"/>
            </svg>
        '
    },
    "single_action_chevron_up": {
        "class": "button-single-action bg-button-primary text-on-primary",
        "content": '
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23.5874 20.0771L18.2937 15.0002L12.9999 20.0771" stroke="white" stroke-width="3"
                      stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        '
    },
    "single_action_chevron_dn": {
        "class": "button-single-action bg-button-primary text-on-primary",
        "content": '
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.4126 15.9233L17.7063 21.0003L23.0001 15.9233" stroke="white" stroke-width="3"
                      stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        '
    },
    "single_action_arrow": {
        "class": "button-single-action-arrow",
        "content": '<i class="fa-solid fa-arrow-right fa-lg"></i>'
    },
}%}

<a href="{{ button_href }}" class="undecorated-link {{ 'disabled' if disabled else '' }}">
    <button class="{{ button_library[button_type]['class'] }} {{ 'disabled' if disabled else '' }}"
            type="button">
        {% if button_label is defined %}
            {{ button_label|safe }}
        {% else %}
            {{ button_library[button_type]['content']|safe }}
        {% endif %}
    </button>
</a>
