{%  set executive_commitee_data=[
    {
        "name": "David Huard",
        "image": "images/about/executive/david-huard.jpg",
        "title": "Research and Innovation Support Specialist",
        "organization": {
            "name": "Ouranos",
            "href": "https://www.ouranos.ca"
        },
        "links": [
            {
                "href": "https://github.com/huard",
                "icon_class": "fab fa-github fa-lg"
            },
            {
                "href": "https://www.researchgate.net/profile/David-Huard",
                "icon_class": "fab fa-researchgate fa-lg"
            },
            {
                "href": "https://www.linkedin.com/in/david-huard/",
                "icon_class": "fab fa-linkedin fa-lg"
            }
        ]
    },
    {
        "name": "Francis Charette Migneault",
        "image": "images/about/executive/francis-charette-migneault.jpg",
        "title": "Research Agent",
        "organization": {
            "name": "CRIM",
            "href": "https://www.crim.ca"
        },
        "links": [
            {
                "href": "https://github.com/fmigneault/",
                "icon_class": "fab fa-github fa-lg"
            },
            {
                "href": "https://www.researchgate.net/profile/Francis-Charette-Migneault",
                "icon_class": "fab fa-researchgate fa-lg"
            },
            {
                "href": "https://www.linkedin.com/in/francis-charette-migneault/",
                "icon_class": "fab fa-linkedin fa-lg"
            },
            {
                "href": "https://orcid.org/0000-0003-4862-3349",
                "icon_class": "fab fa-orcid fa-lg"
            }
        ]
    },
    {
        "name": "Misha Schwartz",
        "image": "images/about/executive/misha-schwartz.jpg",
        "title": "Developer and Systems Architect",
        "organization": {
            "name": "University of Toronto",
            "href": "https://www.utoronto.ca/"
        },
        "links": [
            {
                "href": "https://github.com/mishaschwartz/",
                "icon_class": "fab fa-github fa-lg"
            }
        ]
    }
]%}

<div id="executiveCommittee" class="d-flex justify-content-center">
    <div class="d-flex flex-column flex-lg-row flex-wrap flex-lg-nowrap align-items-lg-start committee-container">
        {% for profile_info in executive_commitee_data %}
            {% include "partials/profile-card.html" %}
        {% endfor %}
    </div>
</div>