<div>
    <h3 class="h3-title-margin">Feedback</h3>
    <div class="d-flex flex-row flex-lg-column">
        <div class="feedback-card">
            <p>How can we improve your experience on the website?</p>
            <div class="card-button-margin">
                {% with button_type = "reg_action_button"%}
                    {% set button_href = "https://discourse.marbleclimate.com/t/about-the-site-feedback-category/1" %}
                    {% set button_label = "FEEDBACK" %}
                    {% include "partials/button.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>