{% set menu_text_class = menu_text_class|default("menu-text-white") %}
{% if menu_text_class == "menu-text-white" %}
    {% set toggler_icon_class = "mobile-toggler-icon-white" %}
    {% set close_icon_class = "mobile-close-icon-white" %}
    {% set mobile_title_class = "mobile-menu-title-white" %}

{% else %}
    {% set toggler_icon_class = ""  %}
    {% set close_icon_class = "mobile-close-icon-default" %}
    {% set mobile_title_class = "mobile-menu-title-default" %}
{% endif %}
<div class="d-flex justify-content-start justify-content-lg-center position-relative">
    <nav class="navbar navbar-expand-lg position-absolute menu">
        <div class="container-fluid">
            <button id="navbarButton" class="navbar-toggler" type="button" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon {{ toggler_icon_class }}"></span>
            </button>

            <div class="offcanvas offcanvas-start collapse navbar-collapse w-100 mobile-menu" id="navbarSupportedContent">
                <div class="offcanvas-body w-100">
                    <div class="col-1 d-none d-lg-block">
                        <a href="index.html">
                            <img id="menu-logo" src="images/logos/marble.png" class="img-fluid menu-logo" />
                        </a>
                    </div>
                    <div class="offcanvas-header d-flex d-lg-none">
                        <button type="button" class="btn-close text-reset {{ close_icon_class }}" data-bs-toggle="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="d-flex d-lg-none mobile-menu-title-white"><h3>MARBLE</h3></div>
                    <div class="d-flex flex-column flex-lg-row menu-items-container">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item menu-items-spacing">
                                <h6 class=""><a id="homeMenuButton" class=" {{ menu_text_class }}" aria-current="page" href="index.html">Home</a></h6>
                            </li>
                            <li class="nav-item menu-items-spacing">
                                <h6 class=""><a id="technologyMenuButton" class="{{ menu_text_class }}" href="index.html#technology">Technology</a></h6>
                            </li>
                            <li class="nav-item menu-items-spacing">
                                <h6 class=""><a id="nodeMenuButton" class="{{ menu_text_class }}" href="node.html">Nodes</a></h6>
                            </li>
                            <li class="nav-item menu-items-spacing">
                                <h6 class=""><a id="tutorialsMenuButton" class="{{ menu_text_class }}" href="tutorials/index.html">Tutorials</a></h6>
                            </li>
                            <li class="nav-item menu-items-spacing">
                                <h6 class=""><a id="communityMenuButton" class="{{ menu_text_class }}" href="https://discourse.marbleclimate.com" target="_blank">Community</a></h6>
                            </li>
                            <li class="nav-item menu-items-spacing">
                                <h6 class=""><a id="aboutMenuButton" class="{{ menu_text_class }}" href="about.html">About</a></h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<script src="js/menu.js"></script>
</div>
