{%  set scientific_commitee_data=[
    {
        "name": "Steve Easterbrook",
        "image": "images/about/scientific/steve-easterbrook.jpg",
        "expertise": "computer science, machine learning",
        "organization": {
            "name": "University of Toronto",
            "href": "https://www.utoronto.ca/"
        },
        "links": []
    },
    {
        "name": "David Huard",
        "image": "images/about/executive/david-huard.jpg",
        "expertise": "climate services, climate data analysis",
        "organization": {
            "name": "Ouranos",
            "href": "https://www.ouranos.ca"
        },
        "links": [
            {
                "href": "https://github.com/huard",
                "icon_class": "fab fa-github fa-lg"
            },
            {
                "href": "https://www.researchgate.net/profile/David-Huard",
                "icon_class": "fab fa-researchgate fa-lg"
            },
            {
                "href": "https://www.linkedin.com/in/david-huard/",
                "icon_class": "fab fa-linkedin fa-lg"
            }
        ]
    },
    {
        "name": "H. Damon Matthews",
        "image": "images/about/scientific/damon-matthews.jpg",
        "expertise": "climate science, climate modelling, carbon-cycle processes, nature-based climate solutions, remaining carbon budgets, climate targets and scenarios",
        "organization": {
            "name": "Concordia University",
            "href": "https://www.concordia.ca"
        },
        "links": [
            {
                "href": "https://www.concordia.ca/faculty/damon-matthews.html",
                "icon_class": "fa-user fa-lg"
            },
            {
                "href": "https://scholar.google.com/citations?user=BY1jk5kAAAAJ",
                "icon_class": "fab fa-google-scholar fa-lg"
            },
            {
                "href": "https://twitter.com/damon_matthews",
                "icon_class": "fab fa-twitter fa-lg"
            },
            {
                "href": "https://www.linkedin.com/in/damon-matthews-b47a5210/",
                "icon_class": "fab fa-linkedin fa-lg"
            }
        ]
    },
    {
        "name": "Samuel Foucher",
        "image": "images/about/scientific/samuel-foucher.png",
        "expertise": "remote sensing, deep learning, land cover mapping",
        "organization": {
            "name": "University of Sherbrooke",
            "href": "https://www.usherbrooke.ca/"
        },
        "links": [
            {
                "href": "https://www.linkedin.com/in/samuelfoucher/",
                "icon_class": "fab fa-linkedin fa-lg"
            }
        ]
    },
    {
        "name": "Dan McKenney",
        "expertise": "climate change, spatial climate modelling, environmental and forest economics, behavioural economics, non-market valuation and cost-benefit analysis",
        "organization": {
            "name": "Natural Resources Canada",
            "href": "https://natural-resources.canada.ca/"
        },
        "links": [
            {
                "href": "https://www.researchgate.net/lab/Daniel-McKenney-Lab",
                "icon_class": "fab fa-researchgate fa-lg"
            },
            {
                "href": "https://ostrnrcan-dostrncan.canada.ca/browse/author?scope=45538ec0-c247-4f18-b907-e38e23f4c025&value=McKenney,%20D.%20W.",
                "icon_class": "fab fa-canadian-maple-leaf fa-lg"
            }
        ]
    }
]%}


<div class = "d-flex flex-column flex-lg-row flex-nowrap flex-lg-wrap justify-content-center align-items-lg-start committee-container">
    {% for profile_info in scientific_commitee_data %}
        {% include "partials/profile-card.html" %}
    {% endfor %}
</div>
