{% set social_links = [
    {
        'icon': 'images/logos/social-media/icon_Linkedin.svg',
        'href': 'https://www.linkedin.com/company/marbleclimate'
    },
    {
        'icon': 'images/logos/social-media/icon_Github.svg',
        'href': 'https://github.com/DACCS-Climate'
    },
    {
        'icon': 'images/logos/social-media/icon_Mastodon.svg',
        'href': 'https://mastodon.social/@marbleclimate'
    },
    {
        'icon': 'images/logos/social-media/instagram.svg',
        'href': 'https://www.instagram.com/marbleclimate'
    },
    {
        'icon': 'images/logos/social-media/twitter.svg',
        'href': 'https://twitter.com/marble_climate'
    }
] %}

<div class="social-media-section">
    <h3 class="h3-title-margin">Connect With Us</h3>
    <div>
        {% for social in social_links %}
            <a href="{{ social['href'] }}">
                <img class="social-media-icon" src="{{ social['icon'] }}">
            </a>
        {% endfor %}
    </div>
</div>
