{% set social_links = [
    {
        'icon': 'images/logos/social-media/icon_Linkedin.svg',
        'href': 'https://www.linkedin.com/company/marbleclimate',
        'alt': 'Linkedin',
    },
    {
        'icon': 'images/logos/social-media/icon_Github.svg',
        'href': 'https://github.com/DACCS-Climate',
        'alt': 'GitHub'
    },
    {
        'icon': 'images/logos/social-media/icon_Mastodon.svg',
        'href': 'https://mastodon.social/@marbleclimate',
        'alt': 'Mastodon'
    },
    {
        'icon': 'images/logos/social-media/instagram.svg',
        'href': 'https://www.instagram.com/marbleclimate',
        'alt': 'Instagram'
    },
    {
        'icon': 'images/logos/social-media/twitter.svg',
        'href': 'https://twitter.com/marble_climate',
        'alt': 'Twitter'
    }
] %}

<div class="social-media-section">
    <h3 class="d-none d-lg-flex header-title-margin">Connect With Us</h3>
    <h3 class="d-flex d-lg-none header-title-margin">Connect</h3>
    <div class="d-flex flex-nowrap">
        {% for social in social_links %}
            {# ensure there is no whitespace or text inside anchor tag #}
            <a class="social-media-link" href="{{ social['href'] }}">
                <img class="social-media-icon" alt="{{ social['alt'] }}" src="{{ social['icon'] }}">
            </a>
        {% endfor %}
    </div>
</div>
