<div id="{{ id }}" class="{{ 'd-flex' if initial else 'd-none' }} g-0">
    <div class="d-flex user-image {{ image_class }}">
        <div class="d-flex align-items-end w-100">
            <div class="d-flex justify-content-center py-5 w-100 getStartedOpacity">
                <div class="user-content w-75">
                    <h2 class="usage-content-title">{{ title }}</h2>
                    <p>{{ content|safe }}</p>
                    <div class="usage-content-button">
                        {% with %}
                            {% set button_type = "transparent_button" %}
                            {% set button_label = "Explore" %}
                            {% set button_href = href %}
                            {% include "partials/button.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
