{% set link_content = [
    {
        'text': 'Get started as an admin',
        'href': 'tutorials/admin/getting-started/getting-started.html'
    },
    {
        'text': 'Deploy a node',
        'href': 'tutorials/admin/getting-started/installation.html'
    },
    {
        'text': 'Marble Project Website',
        'href': 'https://daccs.ca/'
    },
    {
        'text': 'Node Registry',
        'href': 'https://github.com/DACCS-Climate/Marble-node-registry'
    },
    {
        'text': 'Python Client',
        'href': 'https://github.com/DACCS-Climate/marble_client_python'
    }
]%}

<div>
    <h3 class="h3-title-margin">Useful Links</h3>
    <div class="d-flex flex-column">
        {% for link in link_content %}
            <a class="useful-link text-primary" href="{{ link['href'] }}">
                {{ link["text"] }}
            </a>
        {% endfor %}
    </div>
</div>
